
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}


@media (min-width: 992px) {
    body {
        margin: 0;
        display: flex;
    }

    header{
        min-height: 100vh;
    }
}